.img-fluid {
    max-height: 65px;
}

.logo-wrapper.ddd {
    max-width: 120px;
    display: inline;
}
.d-none{
    display: none !important;
}
.simplebar-content {
    margin-top: 30px !important;
}
.notification {
    order: -1;
}